/* / Desktop 1600px   / */
@media (max-width: 1850px) {}

/* / Desktop 1440px   / */
@media (max-width: 1440px) {}

/* / Desktop 1280px   / */
@media (max-width: 1366px) {}

/* / iPad 1024px   / */
@media (max-width: 1199px) {}

/* / iPad 991px   / */
@media (max-width: 991px) {}

/* / Iphone 767px  / */
@media (max-width: 767px) {}

/* / Iphone 567px   / */
@media (max-width: 567px) {}

/* / Mobile 375px   / */
@media (max-width: 375px) {}

/* / Mobile 360px   / */
@media (max-width: 360px) {}

/* / Mobile 320px   / */
@media (max-width: 320px) {}